*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
}

.logo{
    width: 50px;
    cursor: pointer;
    margin: 15px 0;
}

.menu{
    width: 25px;
    cursor: pointer;
    display: none;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}

nav ul li a:hover{
    color: coral;
}

/* ============main========= */

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.col-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}

.col-1 h2{
    font-size: 54px;
}

.col-1 h3{
    font-size: 30px;
    color: #707070;
    font-weight: 100;
    margin: 20px 0 10px;
}

.col-1 p{
    font-size: 16px;
    color: #b7b7b7;
    font-weight: 100;
}

.col-1 h4{
    margin: 30px 0;
    font-size: 20px;
}

button{
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: white;
    background: linear-gradient(to right, #fb5283, #ff3527);
    border-radius: 6px;
    cursor: pointer;
    transition: width 0.5s;
}

button img{
    width: 30px;
    display: none;
}

button:hover img{
    display: block;
}

button:hover{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.col-1::after{
    content: '';
    width: 10px;
    height: 57%;
    background: linear-gradient(#ff469f, #ff6062);
    position: absolute;
    left: -40px;
    top: 8px;
}

.col-2{
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}

.sony{
    width: 110%;
}

.color-box{
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(#ff54a2, #ff575a);
    border-radius: 20px 0 0 20px;
    height: 100%;
    width: 85%;
    z-index: -1;
    transform: translateX(150px);
}

.add-btn img{
    width: 50%;
    margin-bottom: 5px;
}

.add-btn{
    width: 20%;
    text-align: center;
    color: white;
    cursor: pointer;
}

.social-links img{
    height: 20px;
    margin: 20px;
    cursor: pointer;
}

.social-links{
    text-align: center;
}

.content{
    margin: 20px 0;
}

.title{
    margin-top: 60px;
    text-align: center;
}

.title h1{
    padding: 10px;
    font-size: 55px;
}

.title p{
    font-size: 1.5em;
    color: #707070;
}


.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}

/* .box::after{
    content: '';
    width: 10px;
    height: 25%;
    background: linear-gradient(#ff469f, #ff6062);
    position: absolute;
    left: -40px;
    top: 250px;
} */

.box_info h2{
    padding: 10px 0;
    font-size: 2em;
}

.box_info p{
    padding-bottom: 20px;
    font-size: 1.2em;
    color: #707070;
}
.pic{
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}

.horisontalPS{
    width: 100%;
}

@media only screen and (max-width:700px) {
    nav ul{
        width: 100%;
        background: linear-gradient(#ff54a2, #ff575a);
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }

    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a{
        color: white;
    }

    .menu{
        display: block;
    }

    #menuList{
        overflow: hidden;
        transition: 0.5s;
    }

    .row{
        flex-direction: column-reverse;
        margin: 50px 0;
    }

    .col-2{
        flex-basis: 100%;
        margin-bottom: 50px;
    }

    .sony{
        width: 77%;
    }

    .color-box{
        transform: translateX(75px);
    }

    .col-1{
        flex-basis: 100%;
    }

    .col-1 h2{
        font-size: 35px;
    }

    .col-1 h3{
        font-size: 15px;
    }

    .box{
        flex-direction: column-reverse;
        margin: 50px 0;
    }

    .box::after{
        display: none;
    }

    .box_info{
        flex-basis: 100%;
        text-align: -webkit-center;
    }
    .box_info h2{
        padding: 10px 0;
        font-size: 1.5em;
    }

    




    
}